body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row; /* לסדר את הפסקאות לרוחב */
    justify-content: space-around; 
    width: 100%;
}

p {
    border-radius: 8px; /* פינות מעוגלות */
    padding: 50px; /* ריווח פנימי */
    margin: 10px; /* ריווח חיצוני */
    width: 30%; /* רוחב אחיד לכל קופסה */
    text-align: center;
    border: 2px solid transparent; /* גבול שקוף כבסיס */
}

/* צבעים שונים לכל פסקה */
p:nth-of-type(1) {
    color: #9f0b0b; 
    border-color: #310606; 
    text-decoration: rgb(122, 4, 4);
}

p:nth-of-type(2) {
    color: #f7d601e8; 
    border-color: #3d3e23; 
    text-decoration: yellow;
}

p:nth-of-type(3) {
    color: #1b9708be; 
    border-color: #03300d; 
    text-decoration: green; }


a {
    color: #000000; /* צבע הקישור */
}